// FONTS
// COLORS
$min-contrast-ratio: 1.5 !default;
$text-secondary-opacity: 0.7 !default;
$text-secondary-light-opacity: 0.4 !default;
$text-secondary-dark-opacity: 0.8 !default;

$border-opacity: 0.16 !default;
$border-light-opacity: 0.08 !default;
$border-dark-opacity: 0.24 !default;
$border-active-opacity: 0.58 !default;

$gray-50: #f6f8fb !default;
$gray-100: #eef3f6 !default;
$gray-200: #dce1e7 !default;
$gray-300: #b8c4d4 !default;
$gray-400: #8a97ab !default;
$gray-500: #6c7a91 !default;
$gray-600: #49566c !default;
$gray-700: #3a4859 !default;
$gray-800: #182433 !default;
$gray-900: #040a11 !default;

$blue: #206bc4 !default;
$azure: #4299e1 !default;
$indigo: #4263eb !default;
$purple: #ae3ec9 !default;
$pink: #d6336c !default;
$red: #d63939 !default;
$orange: #f76707 !default;
$yellow: #f59f00 !default;
$lime: #74b816 !default;
$green: #2fb344 !default;
$teal: #0ca678 !default;
$cyan: #17a2b8 !default;

$black: #000000 !default;
$white: #ffffff !default;

$light: $gray-50 !default;
$dark: $gray-800 !default;

$body-bg: #ffffff !default;
$body-color: $dark !default;

$body-bg: $gray-50 !default;
$body-color: $dark !default;
$body-emphasis-color: $gray-700 !default;

$color-contrast-dark: $body-color !default;
$color-contrast-light: $light !default;

$light-black: rgba($dark, .24) !default;
$light-mix: rgba(mix($light, $dark, 64%), .24) !default;
$light-white: rgba($light, .24) !default;

$min-black: rgba($dark, .024) !default;
$min-white: rgba(mix($light, $dark, 48%), .1) !default;

$text-secondary: $gray-500 !default;
$text-secondary-light: $gray-400 !default;
$text-secondary-dark: $gray-600 !default;

$border-color: $gray-200 !default;
$border-color-translucent: rgba(4, 32, 69, 0.1);

$border-dark-color: $gray-400 !default;
$border-dark-color-translucent: rgba(4, 32, 69, 0.27);

$border-active-color: mix($text-secondary, #ffffff, percentage($border-active-opacity)) !default;
$border-active-color-translucent: rgba($text-secondary, $border-active-opacity) !default;

$active-bg: rgba($blue, .06) !default;
$hover-bg: rgba($text-secondary, .06) !default;

$primary: $blue !default;
$secondary: $text-secondary !default;
$success: $green !default;
$info: $azure !default;
$warning: $orange !default;
$danger: $red !default;

$code-color: $primary !default;

$social-colors: (
    "facebook": #2196f3,
    "twitter": #1da1f2,
    "linkedin": #0a66c2,
    "google": #dc4e41,
    "youtube": #ff0000,
    "vimeo": #1ab7ea,
    "dribbble": #ea4c89,
    "github": #181717,
    "instagram": #e4405f,
    "pinterest": #bd081c,
    "vk": #6383a8,
    "rss": #ffa500,
    "flickr": #0063dc,
    "bitbucket": #0052cc,
    "tabler": #206bc4) !default;

$colors: (
    "blue": $blue,
    "azure": $azure,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "lime": $lime,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    ) !default;
